/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  background-color: #FFFFFF;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 769px) {
  .container {
    width: 1200px;
  }
}

header {
  border-bottom: 1px solid #ECECEC;
  position: relative;
}

@media screen and (max-width: 480px) {
  .header {
    display: block;
    height: 60px;
    padding-top: 16px;
    width: 100%;
  }
}
@media screen and (min-width: 481px) {
  .header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 480px) {
  .header__nav {
    position: absolute;
    left: 0;
    top: 48px;
    width: 100vw;
    height: 748px;
    opacity: 0;
    pointer-events: none;
    padding-left: 40px;
    /* transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  }
  .header__nav.is-open {
    background-color: #FFFFFF;
    opacity: 1;
    pointer-events: painted;
    z-index: 100;
    position: fixed;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .header__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 88px;
  }
}
@media screen and (min-width: 769px) {
  .header__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 93px;
  }
}

@media screen and (max-width: 480px) {
  .header__button {
    display: block;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 40px;
    height: 40px;
    right: 15px;
    top: 10px;
    border: none;
    cursor: pointer;
    background-color: #FFFFFF;
    fill: #212121;
  }
  .header__button:focus, .header__button:hover {
    fill: #2196F3;
  }
}
@media screen and (min-width: 481px) {
  .header__button {
    display: none;
  }
}

.header__close {
  display: none;
}
.header__button.is-open .header__close {
  display: block;
}

.header__button.is-open .header__men {
  display: none;
}

.header__menu {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 480px) {
  .header__menu {
    font-size: 40px;
    display: block;
    width: 100%;
    height: 514px;
    opacity: 1;
  }
  .header__menu > li {
    margin-bottom: 32px;
  }
  .header__nav.is-open .header__menu {
    opacity: 1;
  }
}
@media screen and (min-width: 481px) {
  .header__menu {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    width: 294px;
    justify-content: space-between;
    padding: 0;
  }
}

.header__link {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: #2196F3;
}
@media screen and (max-width: 480px) {
  .header__link--line::after {
    display: none;
  }
}
@media screen and (min-width: 481px) {
  .header__link--line::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
    top: 45px;
  }
}
.header__link--color {
  color: #2196F3;
}

.header__contact {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 480px) {
  .header__contact {
    font-size: 34px;
    display: block;
    width: 100%;
    height: 100px;
    position: relative;
    padding: 0;
    margin-bottom: 64px;
    opacity: 0;
  }
  .header__nav.is-open .header__contact {
    opacity: 1;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .header__contact {
    font-size: 12px;
    display: block;
  }
  .header__contact:nth-child(1) {
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 769px) {
  .header__contact {
    font-size: 14px;
    display: flex;
    width: 350px;
    list-style: none;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .header__tel {
    display: block;
    font-size: 40px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: 480px) {
  .header__mail {
    display: block;
    font-size: 24px;
    position: absolute;
    top: 72px;
    left: 0;
  }
}

.header__communication {
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__communication:hover, .header__communication:focus {
  color: #2196F3;
}

@media screen and (max-width: 480px) {
  .header__icon {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .header__icon {
    display: inline-block;
    width: 14px;
    height: 10px;
    margin-right: 8px;
    fill: currentColor;
  }
  .header__icon--size {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 768px) {
  .header__icon {
    display: inline-block;
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
  }
  .header__icon--size {
    width: 10px;
    height: 16px;
  }
}

@media screen and (max-width: 480px) {
  .header__network {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
  }
  .header__network > li {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .header__network > li:last-child {
    padding-right: 0;
    border-right: none;
  }
  .header__nav.is-open .header__network {
    opacity: 1;
  }
}
@media screen and (min-width: 481px) {
  .header__network {
    display: none;
  }
}

.logo {
  display: block;
  color: #2196F3;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo--black {
  color: #212121;
}
.logo--white {
  color: #FFFFFF;
}
@media screen and (max-width: 480px) {
  .header__nav.is-open .logo {
    opacity: 0;
  }
}

.hero {
  color: #FFFFFF;
  background-color: #2F303A;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
}
@media screen and (max-width: 480px), screen and (min-device-pixel-ratio: 1), screen and (min-resolution: 96dpi), screen and (min-resolution: 1dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile-480.jpg");
    background-size: 480px;
  }
}
@media screen and (max-width: 480px), screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile-960.jpg");
    background-size: 480px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px), screen and (min-device-pixel-ratio: 1), screen and (min-resolution: 96dpi), screen and (min-resolution: 1dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet-768.jpg");
    background-size: 768px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px), screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet-1536.jpg");
    background-size: 768px;
  }
}
@media screen and (min-width: 769px), screen and (min-device-pixel-ratio: 1), screen and (min-resolution: 96dpi), screen and (min-resolution: 1dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-1600.jpg");
    background-size: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 769px), screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-3200.jpg");
    background-size: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__item {
  display: inline-block;
  max-width: 360px;
  margin-bottom: 30px;
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 769px) {
  .hero__item {
    font-size: 44px;
    max-width: 696px;
  }
}

.button-order {
  color: #FFFFFF;
  background: #2196F3;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: block;
  min-width: 200px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-order:hover, .button-order:focus {
  color: #2196F3;
  background-color: #FFFFFF;
}
.button-order:active {
  color: #2196F3;
}

.quality {
  padding-bottom: 0;
}
@media screen and (max-width: 768px) {
  .quality {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.quality__box {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .quality__box {
    display: block;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .quality__box {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 769px) {
  .quality__box {
    display: flex;
    flex-wrap: wrap;
  }
}

.quality__card {
  display: block;
}
.quality__card::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background: #F5F4FA;
  border-radius: 4px;
  background-size: 70px;
  background-position: center;
  background-repeat: no-repeat;
}
.quality__card--antenna::before {
  background-image: url("../images/antenna.svg");
}
.quality__card--clock::before {
  background-image: url("../images/clock.svg");
}
.quality__card--diagram::before {
  background-image: url("../images/diagram.svg");
}
.quality__card--astronaut::before {
  background-image: url("../images/astronaut.svg");
}
@media screen and (max-width: 480px) {
  .quality__card {
    width: 450px;
    margin-bottom: 30px;
  }
  .quality__card:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .quality__card {
    width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .quality__card:nth-child(2n) {
    margin-right: 0;
  }
  .quality__card:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 769px) {
  .quality__card {
    width: 270px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .quality__card:nth-child(4n) {
    margin-right: 0;
  }
  .quality__card:nth-last-child(-n+4) {
    margin-bottom: 0;
  }
}

.quality__title {
  color: #212121;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 480px) {
  .quality__title {
    text-align: center;
  }
}

.quality__item {
  color: #757575;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 480px) {
  .activity {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .activity {
    display: none;
  }
}

.activity__title {
  color: #212121;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.activity__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
  margin: 0;
  padding: 0;
}

.activity__card {
  display: flex;
  position: relative;
  width: 370px;
}

.activity__item {
  display: flex;
  font-size: 14px;
  line-height: 1.14;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  bottom: 0;
}

.team {
  background-color: #F5F4FA;
}

.team__title {
  font-family: Roboto, sans-serif;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .team__title {
    font-size: 28px;
  }
}
@media screen and (min-width: 769px) {
  .team__title {
    font-size: 36px;
  }
}

@media screen and (max-width: 480px) {
  .team__box {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .team__box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
  .team__box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

.team__employee {
  display: block;
  background-color: #FFFFFF;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 480px) {
  .team__employee {
    width: 450px;
    margin-bottom: 30px;
  }
  .team__employee:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .team__employee {
    width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .team__employee:nth-child(2n) {
    margin-right: 0;
  }
  .team__employee:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 769px) {
  .team__employee {
    width: 270px;
    margin-right: 30px;
  }
  .team__employee:nth-child(4n) {
    margin-right: 0;
  }
}

.team__card {
  padding: 30px 0;
}

.team__name {
  color: #212121;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}

.team__profession {
  color: #757575;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.network {
  display: flex;
  width: 206px;
  justify-content: space-between;
  margin: auto;
}
@media screen and (min-width: 769px) {
  .network {
    text-align: center;
  }
  .network--left {
    margin-left: 0;
  }
}

.network__svg {
  fill: rgb(175, 177, 184);
  background-color: #FFFFFF;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.network__svg:hover, .network__svg:active {
  background-color: #2196F3;
  fill: #FFFFFF;
}
.network__svg--color {
  fill: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.network__svg--color:hover, .network__svg--color:focus {
  background-color: #2196F3;
}

.network__icon {
  display: block;
  width: 20px;
  height: 20px;
}

.clients__title {
  color: #212121;
  font-family: Roboto, sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .clients__title {
    font-size: 28px;
  }
}
@media screen and (min-width: 769px) {
  .clients__title {
    font-size: 36px;
  }
}

.clients__box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.clients__site {
  display: block;
  height: 92px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-size: auto;
  background-position: center;
  color: #AFB1B8;
  border: 1px solid;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__site:hover, .clients__site:focus {
  fill: #2196F3;
  border-color: rgb(33, 150, 243);
}
@media screen and (max-width: 480px) {
  .clients__site {
    width: 210px;
    padding: 16px 52px;
  }
  .clients__site:nth-child(2n) {
    margin-right: 0;
  }
  .clients__site:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .clients__site {
    width: 226px;
    padding: 16px 60px;
  }
  .clients__site:nth-child(3n) {
    margin-right: 0;
  }
  .clients__site:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 769px) {
  .clients__site {
    width: 170px;
    padding: 16px 32px;
  }
  .clients__site:nth-child(6n) {
    margin-right: 0;
  }
  .clients__site:nth-last-child(-n+6) {
    margin-bottom: 0;
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: rgb(175, 177, 184);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__site:hover .clients__icon, .clients__site:focus .clients__icon {
  fill: #2196F3;
}

footer {
  background-color: #2F303A;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 480px) {
  .footer {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
  .footer {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .footer__box {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 769px) {
  .footer__box {
    margin-right: 70px;
  }
}

@media screen and (max-width: 480px) {
  .footer__logo {
    display: block;
    margin-left: 148px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer__logo {
    display: block;
    margin-left: 307px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 769px) {
  .footer__logo {
    margin-right: 70px;
  }
}

.footer__address {
  font-style: normal;
  margin: 0;
  padding: 0;
}
.footer__address > li {
  margin-bottom: 9px;
}
.footer__address > li:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .footer__address {
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 769px) {
  .footer__address {
    display: inline-block;
    width: 231px;
    margin-right: 70px;
    margin-top: 20px;
  }
}

.footer__contact {
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contact--color {
  color: rgba(255, 255, 255, 0.6);
}
.footer__contact:hover, .footer__contact:focus {
  color: #2196F3;
}

@media screen and (max-width: 768px) {
  .footer__social {
    margin-bottom: 60px;
  }
}

.footer__title {
  color: #FFFFFF;
  font-family: "Roboto" sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .footer__title {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .footer__form {
    text-align: center;
  }
}
@media screen and (min-width: 769px) {
  .footer__form {
    margin-left: 93px;
  }
}

@media screen and (min-width: 769px) {
  .footer__subscrib {
    display: flex;
    height: 50px;
  }
}

.footer__input {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 25;
  letter-spacing: 0.03em;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__input:focus {
  color: #2196F3;
  border-color: #2196F3;
}
@media screen and (max-width: 768px) {
  .footer__input {
    width: 450px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 769px) {
  .footer__input {
    width: 295px;
    margin-right: 12px;
  }
}

.footer__button {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background: #2196F3;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: left;
  width: 200px;
  height: 50px;
  padding: 10px 28px 10px 29px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 480px) {
  .footer__button {
    margin-left: 125px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer__button {
    margin-left: 284px;
  }
}

.footer__subscrib:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #FFFFFF;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
@media screen and (max-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 769px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__close {
  display: block;
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 8px;
  right: 8px;
}

.modal__icon {
  width: 11px;
  height: 11px;
  fill: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
}

.modal__title {
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 30px;
}

.modal__form {
  display: block;
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 28px;
}

input,
textarea {
  appearance: none;
  outline: none;
  border: none;
}

.modal__input {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 11px 11px 42px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border-color: #2196F3;
  color: #2196F3;
}

.modal__item {
  display: block;
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus + .modal__item, .modal__input:not(:placeholder-shown) + .modal__item {
  transform: translate(-42px, -40px);
}

.modal__svg {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  top: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus ~ .modal__svg {
  fill: #2196F3;
}

.textarea {
  display: block;
  position: relative;
  width: 100%;
  height: 120px;
  margin-bottom: 25px;
}

textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  padding: 12px 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
textarea:focus {
  color: #2196F3;
  border-color: #2196F3;
}

.textarea__item {
  display: block;
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  top: -18px;
  left: 0;
}

.checkbox {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox--color {
  margin-left: 4px;
  color: #2196F3;
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .checkbox {
    font-size: 12px;
  }
}
@media screen and (min-width: 769px) {
  .checkbox {
    font-size: 14px;
  }
}

.checkbox__icon {
  --webkit-appearance: none;
  --moz-appearance: none;
  appearance: none;
}

.checkbox__svg {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}
.checkbox__icon:checked + .checkbox__svg {
  background-size: contain;
  background-color: #2196F3;
  background-image: url(../images/ticks.svg);
  border-color: transparent;
  fill: #FFFFFF;
}

.modal__submit {
  display: block;
  width: 200px;
  height: 50px;
  margin: 30px auto 0 auto;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.filter__title {
  color: #212121;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.filter__box {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 50px;
  padding: 0;
}
@media screen and (max-width: 480px) {
  .filter__box {
    width: 450px;
  }
}
@media screen and (min-width: 481px) {
  .filter__box {
    flex-wrap: nowrap;
    width: 612px;
  }
}

.filter__item {
  margin-right: 8px;
}
.filter__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 480px) {
  .filter__item {
    margin-bottom: 15px;
  }
  .filter__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

.filter__button {
  color: #212121;
  background: #F5F4FA;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  display: block;
  cursor: pointer;
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.work {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 0;
  padding: 0;
}

.work__box {
  display: block;
  margin: 0;
  padding: 0;
  border: 1px solid #EEEEEE;
}
@media screen and (max-width: 480px) {
  .work__box {
    width: 450px;
    height: 404px;
    margin-bottom: 30px;
  }
  .work__box:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .work__box {
    width: 354px;
    height: 404px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .work__box:nth-child(1), .work__box:nth-child(2) {
    height: 440px;
  }
  .work__box:nth-child(2n) {
    margin-right: 0;
  }
  .work__box:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 769px) {
  .work__box {
    width: 370px;
    height: 404px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .work__box:nth-child(3n) {
    margin-right: 0;
  }
  .work__box:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.work__link {
  display: block;
  height: 100%;
}
.work__link:hover, .work__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work__window {
  display: block;
  position: relative;
  overflow: hidden;
  height: 294px;
}
@media screen and (max-width: 480px) {
  .work__window {
    width: 450px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .work__window {
    width: 354px;
  }
}
@media screen and (min-width: 769px) {
  .work__window {
    width: 370px;
  }
}

.work__card {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 64px 24px;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work__link:hover .work__card, .work__link:focus .work__card {
  opacity: 1;
  transform: translateY(0%);
}
.work__card .work__overlay {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.work__text {
  padding: 20px 24px;
}

.work__title {
  color: #212121;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding: 0;
  margin-bottom: 4px;
}

.work__item {
  color: #757575;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=main.css.map */