.clients__title {
    color: $primary-text-color;

    font-family: Roboto, sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;

    @media screen and (max-width: 768px) {
        font-size: 28px;
    }

    @media screen and (min-width: 769px) {
        font-size: 36px;
    }
}

.clients__box {
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
}

.clients__site {
    display: block;
    height: 92px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-size: auto;
    background-position: center;
    color: #AFB1B8;    
    border: 1px solid;    
    border-radius: 4px;    
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        fill: $accent-text-color;
        border-color: rgba(33, 150, 243, 1);
    }    

    @media screen and (max-width: 480px) {
        width: 210px;
        padding: 16px 52px;
                
        &:nth-child(2n) {
            margin-right: 0;
        }

        &:nth-last-child(-n+2) {
            margin-bottom: 0;
            
        }
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
        width: 226px;
        padding: 16px 60px;

        &:nth-child(3n) {
            margin-right: 0;
        }
    
        &:nth-last-child(-n+3) {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: 769px) {
        width: 170px;
        padding: 16px 32px;
            
        &:nth-child(6n) {
            margin-right: 0;
        }

        &:nth-last-child(-n+6) {
            margin-bottom: 0;
        }
    }
}

.clients__icon {
    width: 106px;
    height: 60px;
    fill: rgba(175, 177, 184, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    .clients__site:hover &, .clients__site:focus & {
        fill: $accent-text-color;
    }
}