.team {
    background-color: #F5F4FA;
}

.team__title {
    font-family: Roboto, sans-serif;    
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
    padding: 0;

    @media screen and (max-width: 1199px) {
        font-size: 28px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 36px;
    }
}


.team__box {
    width: 100%;

    @media screen and (min-width: 481px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.team__employee {
    display: block;
    background-color: $active-text-color;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);

    @media screen and (max-width: 480px) {    
        width: 100%;        
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: 481px) and (max-width: 1199px) {
        width: calc((100vw - 60px) / 2);
        margin-right: 30px;
        margin-bottom: 30px;        

        &:nth-child(2n) {
            margin-right: 0;
        }
    
        &:nth-last-child(-n+2) {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: 1200px) {
        width: calc((100vw - 120px) / 4);
        margin-right: 30px;
        margin-bottom: 0;

        &:last-child {
            margin-right: 0;
        }
    }
}

.team__card {
    padding: 30px 0;
}

.team__name {
    color: $primary-text-color;

    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 10px;
}

.team__profession {
    color: $main-text-color;

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}